<form id="new_user" ng-submit="signUp()">
  <p>
    <%= label_tag :email %>
    <br>
    <%= text_field_tag :email, '', 'ng-model' => 'email' %>
  </p>
  <p>
    <%= label_tag :password %>
    <br>
    <%= password_field_tag :password, '', 'ng-model' => 'password' %>
  </p>
  <p>
    <%= submit_tag 'Sign up' %>
    <a href="/sign_in">Sign in</a>
  </p>
</form>
