<%= form_for @user, url: sign_up_path do |f| %>
  <% if @user.errors.any? %>
    <ul class="errors">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :email %>
    <br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Sign up' %>
  </p>
<% end %>
