<li id="<%= dom_id todo %>" class="todo <%= 'complete' if todo.completed %>">
  <%= link_to '✔', todo.completed? ? uncomplete_todo_path(todo) : complete_todo_path(todo), method: :post, remote: true, class: 'complete_btn' %>
  <%= todo.title %>
  <%= link_to '✘', todo_path(todo), method: :delete, remote: true, class: 'destroy_btn' %>
</li>
